# Environment variables
.env
.env.*
!.env.example
.env.production
.env.development
.env.test

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
db.sqlite3
*.db

# Node
node_modules/
dist-ssr
*.local
package-lock.json

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db