.sakura-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 1;
    /* Above background, below UI cards */
    opacity: 0.8;
}